[submodule "6.0001-introduction-to-computer-science-and-programming-in-python"]
	path = 6.0001-introduction-to-computer-science-and-programming-in-python
	url = git@github.com:saikatdas0790/6.0001-introduction-to-computer-science-and-programming-in-python.git
